body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.fix-cards{
	margin-bottom: 60px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}