body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.fix-cards{
	margin-bottom: 60px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.presentation{
	left: 0; 
	width: 100%; 
	height: 0; 
	position: relative; 
	padding-bottom: 74.9288%;
}

.speakdeckst{
	border: 0; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	position: absolute;
}

.embed-container {
	height: 500px;
}
frame-prezi{
	height: 500px;
}